<div class="dialog-container">
  <h1 mat-dialog-title class="mat-dialog-title">{{ title }}</h1>
  <div mat-dialog-content class="mat-dialog-content">
    <form #form="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Nome do Produto</mat-label>
        <input
          matInput
          [(ngModel)]="data.product.name"
          name="name"
          required
          maxlength="150"
          #name="ngModel"
        />
        @if (name.invalid && name.touched) {
        <mat-error>Nome é obrigatório.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          [(ngModel)]="data.product.description"
          name="description"
          required
          maxlength="200"
          #description="ngModel"
        ></textarea>
        @if (description.invalid && description.touched) {
        <mat-error>Descrição é obrigatória.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select
          [(ngModel)]="data.product.categoryId"
          name="categoryId"
          required
          #categoryId="ngModel"
        >
          @for (category of categories$ | async; track $index) {
          <mat-option [value]="category.id">
            <mat-icon>{{ category.icon }}</mat-icon>
            <span>{{ category.name }}</span>
          </mat-option>
          } @empty {
          <mat-option> Nenhuma categoria </mat-option>
          }
        </mat-select>
        @if (categoryId.invalid && categoryId.touched) {
        <mat-error>Categoria é obrigatória.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Preço</mat-label>

        <input
          matInput
          required
          name="price"
          currencyMask
          [max]="999999"
          [min]="0.01"
          [(ngModel)]="data.product.price"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
          #price="ngModel"
        />
        @if (price.errors && price.errors['required'] &&
        price.touched) {
        <mat-error>Preço é obrigatório.</mat-error>
        } @else if (price.errors && price.errors['min'] &&
        price.touched) {
        <mat-error>O preço não pode ser menor que 0.</mat-error>
        } @else if (price.errors && price.errors['max'] &&
        price.touched) {
        <mat-error>O preço não pode ser maior que 999.999.</mat-error>
        }

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quantidade em Estoque</mat-label>
        <input
          matInput
          [(ngModel)]="data.product.stockQuantity"
          name="stockQuantity"
          type="number"
          required
          max="999999"
          min="0"
          #stockQuantity="ngModel"
        />
        @if (stockQuantity.errors && stockQuantity.errors['required'] &&
        stockQuantity.touched) {
        <mat-error>Quantidade é obrigatória.</mat-error>
        } @else if (stockQuantity.errors && stockQuantity.errors['min'] &&
        stockQuantity.touched) {
        <mat-error>A quantidade não pode ser menor que 0.</mat-error>
        } @else if (stockQuantity.errors && stockQuantity.errors['max'] &&
        stockQuantity.touched) {
        <mat-error>A quantidade não pode ser maior que 999.999.</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary" (click)="onSave(form)">Salvar</button>
  </div>
</div>
