  @import '../../styles/variables.scss';
  
  body {
    background: #F5F5F5;
  }

  .header {
    background: $title-color;
    color: $gray-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;

    div.logo img {
        width: 100px;
        padding: 0px 1rem 0px 0px;
    }

    div.search {

        width: 50rem;
        height: 80px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        .mat-mdc-form-field {
            display: flex;
            margin: 0px;
            padding: 0px;
            flex-grow: 1;
            height: 56px;
            border-radius: 5px;
            background-color: $gray-bg;
        }

        .closeSearch {
            color: $title-color;
        }

    }

    div.icons {
        display: flex;
        width: 20rem;
            padding: 0rem 0rem 0rem 1rem;
        align-items: center;
        justify-content: space-evenly;
    }
  }
  
  .main-content {
    padding: 2rem;
    height: 100%;
    flex: 1;
    background: $gray-bg;
  }


  
  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    color: $text-color;
  }
  
  .category-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: border-color 0.3s;
    border-bottom: 2px solid transparent;
  }
  
  .category-item mat-icon {
    margin-right: 0.5rem;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    .category-item {
      flex: 1 1 100%;
      justify-content: center;
      border-bottom: 2px solid transparent;
    }
    
    .category-item:hover {
      border-bottom: 2px solid $title-color; 
      cursor: pointer;
    }
  }
  
  @media (min-width: 601px) and (max-width: 960px) {
    .category-item {
      flex: 1 1 45%;
      border-bottom: 2px solid transparent;
    }
    
    .category-item:hover {
      border-bottom: 2px solid $title-color; 
      cursor: pointer;
    }
  }
  
  @media (min-width: 961px) {
    .category-container {
      justify-content: center;
    }
    .category-item {
      flex: 0 0 auto; 
      border: none;
      border-bottom: 2px solid transparent;
    }

    .category-item:hover {
        border-bottom: 2px solid $title-color; 
        cursor: pointer;
      }
  }
  

  