<header class="header">
  <div class="logo"><img src="../../assets/png/logo.png" /></div>

  <div class="search">
    <mat-form-field appearance="outline">
      <mat-icon class="closeSearch" matPrefix>search</mat-icon>
      <input
        type="search"
        name="search"
        placeholder="Buscar Produto"
        aria-label="Buscar"
        matInput
      />
    </mat-form-field>
  </div>

  <div class="icons">
    <span>Bem vindo(a), <strong>Mateus Cézar Mariano Silva</strong></span>
  </div>
</header>

<main class="main-content">
  <div class="category-container">
    @for (category of categories; track $index) {
    <div class="category-item">
      <mat-icon>{{ category.icon }}</mat-icon>
      <span>{{ category.name }}</span>
    </div>
    }
    @empty {
      <p>Nenhuma categoria cadastrada.</p>
    }
  </div>

  <hr />

  <!-- Demonstrar efetividade do defer controlando lazyloading -->
  <!-- <div class="banner">BANNER</div> -->

  <app-product />
</main>
