@import "../../styles/variables.scss";

body {
  background-color: $gray-bg;
  font-family: "Roboto", sans-serif;
}

.banner {
  display: flex;
  height: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $title-color;
  justify-content: center;
  align-items: center;
  color: $gray-bg;
  font-size: 70px;
  letter-spacing: 40px;
}

.main-content {
  padding: 2rem;
  flex: 1;
  background: $gray-bg;
}

.floating-action-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  color: white; /* Cor do ícone */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
  z-index: 1000; 
  background-color: $primary-color;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  transition: all 0.4s ease;

  &:hover {
    filter: drop-shadow(2px 4px 6px gray);
    background-color: darken($primary-color, 10%);
    cursor: pointer;
  }
}