<div class="dialog-container">
    <h1 mat-dialog-title class="mat-dialog-title">Confirmar Exclusão</h1>
    <div mat-dialog-content class="mat-dialog-content">
      <p>Tem certeza que deseja excluir este produto?</p>
    </div>
    <div mat-dialog-actions class="area-dialog-actions">
      <button mat-button class="buttons-text-effect" (click)="onCancel()">Cancelar</button>
      <button mat-button class="buttons-text-effect" color="primary" (click)="onConfirm()">Excluir</button>
    </div>
  </div>