$primary-color: #783017;
$text-color: #5b5b5b;
$secondary-color: #307878;
$gray-bg: #F5F5F5;
$gray-secondary-bg: #CCCCCC;
$title-color: #935945;
$default-color: #393636;


$warn-color: #f44336;
$dialog-background-color: #ffffff;